<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Textream uses microphone levels to scroll while you speak and pause when you stop.</string>
</dict>
</plist>
